body {
  background-color: #f8f9fc;
  color: #333333;
  font-family: $zh-default-font;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Nunito", Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
}

#wrapper {
  display: flex;

  #content-wrapper {
    width: 100%;
    overflow-x: hidden;

    #content {
      flex: 1 0 auto;
    }
  }
}
