<!-- Footer -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-xl-10 py-3">
        <div class="text-center text-white-50 my-auto">
          <small>Copyright &copy; 2020 Jupiter Systems All Rights Reserved</small>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Footer -->
