<!-- Sidebar -->
<div class="navbar-nav flex-row" id="sidebar-wrapper">
  <!-- Main Sidebar -->
  <div id="sidebar-main">
    <div class="icon-group-top">
      <a href="#">
        <div class="sidebar-brand-icon">
          <img src="/images/logo/brand_logo_sm.png" alt="Brand Logo" class="img-fluid" data-toggle="tooltip" data-placement="right" title="Jupiter Home">
        </div>
      </a>
      <ul class="list-group">
        <li class="nav-item">
          <a href="/admin/events/new.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Add Event">add</i>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="icon-group-bottom">
      <ul class="list-group">
        <li class="nav-item">
          <a href="/admin/help/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Help">help_outline</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/settings/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="System Settings">settings</i>
          </a>
        </li>
      </ul>
      <small class="nav-link text-white-50">v1.0.0</small>
    </div>
  </div>

  <!-- Secondary Sidebar -->
  <div class="accordion" id="sidebar-secondary">
    <div class="sidebar-brand-name">Jupiter</div>

    <ul class="list-group">
      <li class="nav-item">
        <a href="/admin/clients/index.html" class="nav-link">
          <i class="material-icons">business</i>
          <span>Your Client</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/events/index.html" class="nav-link">
          <i class="material-icons">list_alt</i>
          <span>Events</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/calendar/index.html" class="nav-link">
          <i class="material-icons">event</i>
          <span>Calendar</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /#sidebar-secondary -->
