<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-user-astronaut"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Jupiter</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Sidebar - Event Code -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
    <h4 class="sidebar-eventcode-text text-uppercase mb-0">
      <div class="bg-white rounded text-secondary py-1 px-2">
        <!-- Status Online -->
        <i class="fas fa-fw text-success fa-check-circle"></i> dem
        <!-- Testing Mode -->
        <!-- <i class="far fa-fw text-warning fa-pause-circle"></i> dem -->
        <!-- Status Offline -->
        <!-- <i class="fas fa-fw text-danger fa-times-circle"></i> dem -->
      </div>
    </h4>
  </a>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="../../../../../e1_admin/dashboard.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
		</a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Shortcut Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShortcut" aria-expanded="true" aria-controls="collapseShortcut">
      <i class="fas fa-fw fa-share-square"></i>
      <span>Shortcuts</span>
    </a>
    <div id="collapseShortcut" class="collapse" aria-labelledby="headingShortcut" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Event Shortcut:</h6>
        <a class="collapse-item" href="../pg_htm/home.html" target="_blank">Landing Page</a>
        <a class="collapse-item" href="../pg_reg/regpublic.html" target="_blank">Registration</a>
        <a class="collapse-item" href="../pg_login/home_publiclogin.html" target="_blank">Public Login</a>
        <a class="collapse-item" href="../../../../../e1_admin/dashboard_blank.html" target="_blank">EA Home</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Records Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecords" aria-expanded="true" aria-controls="collapseRecords">
      <i class="fas fa-fw fa-users"></i>
      <span>Records</span>
		</a>
    <div id="collapseRecords" class="collapse" aria-labelledby="headingRecords" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Records Components:</h6>
        <a class="collapse-item" href="../../../../../e1_admin/cust/event_custlist.html">Records List</a>
        <a class="collapse-item" href="event_custreg.html">Add Record</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Reports Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="../../../../../e1_admin/photos/photo_list.html">
      <i class="fas fa-fw fa-images"></i>
      <span>Photo Gallery</span>
		</a>
  </li>

  <!-- Nav Item - SMS Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStatistics" aria-expanded="true" aria-controls="collapseStatistics">
      <i class="fas fa-fw fa-chart-bar"></i>
      <span>Stats</span>
		</a>
    <div id="collapseStatistics" class="collapse" aria-labelledby="headingStatistics" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Statistics Components:</h6>
        <a class="collapse-item" href="javascript:void(0)">Event Stats</a>
        <a class="collapse-item" href="javascript:void(0)">Email Blast Status</a>
        <a class="collapse-item" href="javascript:void(0)">SMS Blast Status</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Reports Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-flag-checkered"></i>
      <span>Reports</span>
		</a>
  </li>

  <!-- Nav Item - Import -->
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-file-import"></i>
      <span>Import</span>
		</a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Settings
  </div>

  <!-- Nav Item - Settings Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
      <i class="fas fa-fw fa-cog"></i>
      <span>Event</span>
    </a>
    <div id="collapseSettings" class="collapse" aria-labelledby="headingSettings" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Event Settings:</h6>
        <a class="collapse-item active" href="javascript:void(0)">Public Settings</a>
        <a class="collapse-item" href="javascript:void(0)">Admin Settings</a>
        <a class="collapse-item" href="javascript:void(0)">Field Settings</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Email Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmail" aria-expanded="true" aria-controls="collapseEmail">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Email</span>
    </a>
    <div id="collapseEmail" class="collapse" aria-labelledby="headingEmail" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Email Components:</h6>
        <a class="collapse-item" href="javascript:void(0)">Email Templates</a>
        <a class="collapse-item" href="javascript:void(0)">Email Settings</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - SMS Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSMS" aria-expanded="true" aria-controls="collapseSMS">
      <i class="fas fa-fw fa-sms"></i>
      <span>SMS</span>
    </a>
    <div id="collapseSMS" class="collapse" aria-labelledby="headingSMS" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">SMS Components:</h6>
        <a class="collapse-item" href="../../../../../e1_admin/sms/sms_template.html">SMS Templates</a>
        <a class="collapse-item" href="../../../../../e1_admin/sms/sms_logs.html">Activity Logs</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
