<!-- Sidebar -->
<div class="navbar-nav flex-row" id="sidebar-wrapper">
  <!-- Main Sidebar -->
  <div id="sidebar-main">
    <div class="icon-group-top">
      <a href="/admin/clients/index.html">
        <div class="sidebar-brand-icon">
          <img src="/assets/images/logo/brand_logo_sm.png" alt="Brand Logo" class="img-fluid" data-toggle="tooltip" data-placement="right" title="Jupiter Home">
        </div>
      </a>
      <ul class="list-group">
        <li class="nav-item">
          <a href="/admin/clients/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Switch Client">swap_horiz</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/events/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Event List">list_alt</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/events/new.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Add Event">add</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/calendar/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Calendar">event</i>
          </a>
        </li>
      </ul>
    </div>

    <div class="icon-group-bottom">
      <ul class="list-group">
        <li class="nav-item">
          <a href="/admin/help/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="Help">help_outline</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/settings/index.html" class="nav-link">
            <i class="material-icons" data-toggle="tooltip" data-placement="right" title="System Settings">settings</i>
          </a>
        </li>
      </ul>
      <small class="nav-link text-white-50">v1.0.0</small>
    </div>
  </div>

  <!-- Secondary Sidebar -->
  <div class="sidebar-light accordion" id="sidebar-secondary">
    <div class="sidebar-brand-name text-uppercase">
      <!-- Status Online -->
      <i class="material-icons text-success">play_circle_filled</i><span>ab.cde</span>
      <!-- Testing Mode -->
      <!-- <i class="material-icons text-warning">pause_circle_filled</i><span>ab.cde</span> -->
      <!-- Status Offline -->
      <!-- <i class="material-icons text-danger">cancel</i><span>ab.cde</span> -->
    </div>

    <ul class="list-group">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#eventAppCollapse" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="eventAppCollapse">
          <i class="material-icons">apps</i>
          <span>Event App</span>
          <div class="collapse-arrow"></div>
        </a>
        <div class="collapse shadow-sm animated fadeIn faster" id="eventAppCollapse" data-parent="#sidebar-secondary">
          <div class="bg-white collapse-inner rounded">
            <h6 class="collapse-header">Frontend Shortcut:</h6>
            <a class="collapse-item" href="#">Home Page</a>
            <a class="collapse-item" href="#">Registration</a>
            <a class="collapse-item" href="#">Guest Login</a>
            <a class="collapse-item" href="#">Exhibitor</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link collapsed" href="#guestsCollapse" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="guestsCollapse">
          <i class="material-icons">people</i>
          <span>Guests</span>
          <div class="collapse-arrow"></div>
        </a>
        <div class="collapse shadow-sm animated fadeIn faster" id="guestsCollapse" data-parent="#sidebar-secondary">
          <div class="bg-white collapse-inner rounded">
            <a class="collapse-item" href="#">Guest List</a>
            <a class="collapse-item" href="#">Group</a>
            <a class="collapse-item" href="#">Import</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#emailCollapse" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="emailCollapse">
          <i class="material-icons">mail</i>
          <span>Email</span>
          <div class="collapse-arrow"></div>
        </a>
        <div class="collapse shadow-sm animated fadeIn faster" id="emailCollapse" data-parent="#sidebar-secondary">
          <div class="bg-white collapse-inner rounded">
            <a class="collapse-item" href="#">Blast Status</a>
            <a class="collapse-item" href="#">Group</a>
            <a class="collapse-item" href="#">Templates</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#smsCollapse" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="smsCollapse">
          <i class="material-icons">textsms</i>
          <span>SMS</span>
          <div class="collapse-arrow"></div>
        </a>
        <div class="collapse shadow-sm animated fadeIn faster" id="smsCollapse" data-parent="#sidebar-secondary">
          <div class="bg-white collapse-inner rounded">
            <a class="collapse-item" href="#">Blast Status</a>
            <a class="collapse-item" href="#">Group</a>
            <a class="collapse-item" href="#">Templates</a>
            <a class="collapse-item" href="#">Log</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="material-icons">photo_library</i>
          <span>Photo</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="material-icons">flag</i>
          <span>Reports</span>
        </a>
      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">Settings</div>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#settingsCollapse" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="settingsCollapse">
          <i class="material-icons">tune</i>
          <span>Event Settings</span>
          <div class="collapse-arrow"></div>
        </a>
        <div class="collapse shadow-sm animated fadeIn faster" id="settingsCollapse" data-parent="#sidebar-secondary">
          <div class="bg-white collapse-inner rounded">
            <a class="collapse-item" href="#">Setting</a>
            <a class="collapse-item" href="#">Advanced</a>
            <a class="collapse-item" href="#">Report</a>
            <a class="collapse-item" href="#">Email</a>
            <a class="collapse-item" href="#">SMS</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /#sidebar-secondary -->
