<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-user-astronaut"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Jupiter</div>
  </a>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
		</a>
  </li>

  <!-- Nav Item - Shortcut Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShortcut" aria-expanded="true" aria-controls="collapseShortcut">
      <i class="fas fa-fw fa-share-square"></i>
      <span>Event App</span>
    </a>
    <div id="collapseShortcut" class="collapse" aria-labelledby="headingShortcut" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Shortcut to:</h6>
        <a class="collapse-item" href="javascript:void(0)" target="_blank">Home Page</a>
        <a class="collapse-item" href="javascript:void(0)" target="_blank">Registration</a>
        <a class="collapse-item" href="javascript:void(0)" target="_blank">Guest Login</a>
        <a class="collapse-item" href="javascript:void(0)" target="_blank">Exhibitor Login</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Guests Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGuests" aria-expanded="true" aria-controls="collapseGuests">
      <i class="fas fa-fw fa-users"></i>
      <span>Guests</span>
		</a>
    <div id="collapseGuests" class="collapse" aria-labelledby="headingGuests" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Guests Components:</h6>
        <a class="collapse-item" href="javascript:void(0)">Guests List</a>
        <a class="collapse-item" href="javascript:void(0)">Add Guest</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Email Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmail" aria-expanded="true" aria-controls="collapseEmail">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Email</span>
    </a>
    <div id="collapseEmail" class="collapse" aria-labelledby="headingEmail" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="javascript:void(0)">Templates</a>
        <a class="collapse-item" href="javascript:void(0)">Blast Status</a>
        <a class="collapse-item" href="javascript:void(0)">Settings</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - SMS Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSMS" aria-expanded="true" aria-controls="collapseSMS">
      <i class="fas fa-fw fa-sms"></i>
      <span>SMS</span>
    </a>
    <div id="collapseSMS" class="collapse" aria-labelledby="headingSMS" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="javascript:void(0)">Templates</a>
        <a class="collapse-item" href="javascript:void(0)">Blast Status</a>
        <a class="collapse-item" href="javascript:void(0)">Settings</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Photo Gallery Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-images"></i>
      <span>Photo Gallery</span>
		</a>
  </li>

  <!-- Nav Item - Statistics Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-chart-bar"></i>
      <span>Statistics</span>
		</a>
  </li>

  <!-- Nav Item - Reports Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-flag-checkered"></i>
      <span>Reports</span>
		</a>
  </li>

  <!-- Nav Item - Import -->
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">
      <i class="fas fa-fw fa-file-import"></i>
      <span>Import</span>
		</a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Settings
  </div>

  <!-- Nav Item - Settings Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
      <i class="fas fa-fw fa-cog"></i>
      <span>Event</span>
    </a>
    <div id="collapseSettings" class="collapse" aria-labelledby="headingSettings" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item active" href="javascript:void(0)">Public Settings</a>
        <a class="collapse-item" href="javascript:void(0)">Admin Settings</a>
        <a class="collapse-item" href="javascript:void(0)">Field Settings</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
