<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form class="d-none d-md-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="width:30rem;">
    <div class="input-group">
      <input type="text" class="form-control bg-light" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary rounded-right" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
        <a href="javascript:void(0)" class="form-control-plaintext text-primary mx-3">Advanced</a>
      </div>
    </div>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item search-menu dropdown no-arrow d-md-none">
      <a class="nav-link dropdown-toggle" href="#!" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group w-100">
            <input type="text" class="form-control bg-light border-0" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary rounded-right" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
              <a href="javascript:void(0)" class="form-control-plaintext text-primary mx-3">Advanced</a>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Nav Item - Help Information -->
    <li class="nav-item no-arrow">
      <a class="nav-link" href="javascript:void(0)" title="Help">
        <i class="fas fa-question-circle fa-fw"></i>
      </a>
    </li>

    <!-- Nav Item - System Settings -->
    <li class="nav-item no-arrow">
      <a class="nav-link" href="javascript:void(0)" title="System Settings">
        <i class="fas fa-cogs fa-fw"></i>
      </a>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-secondary">Jacky Brown</span>
        <img src="../images/avatar/empty_avatar.jpg" alt="Sample" class="img-profile rounded-circle">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="javascript:void(0)">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-secondary"></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
          Logout
        </a>
      </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->
