.dropdown {
	.dropdown-menu {
		font-size: 0.85rem;
		.dropdown-header {
			font-weight: 800;
			font-size: 0.65rem;
			color: #b7b9cc;
		}
	}
}
.dropdown.no-arrow {
	.dropdown-toggle {
		&::after {
			display: none;
		}
	}
}
