// Sidebar Menu Toggle Wrapper
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -18rem;
  color: #ffffff;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

// Main Sidebar Menu
#sidebar-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #0747a6;

  a {
    .sidebar-brand-icon {
      padding: 0.875rem;

      img {
        width: 50px;

        &.active,
        &:active,
        &:focus,
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 50%;
        }
      }
    }
  }

  .list-group {
    width: 4rem;
  }

  hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin: 0 1rem;
  }

  .nav-item {
    .nav-link {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      color: #ffffff;

      i {
        color: rgba(255, 255, 255, .3);
      }

      &.active,
      &:active,
      &:focus,
      &:hover {
        color: #ffffff;

        i {
          color: #ffffff;
        }
      }
    }
  }
}

// Secondary Sidebar Menu
#sidebar-secondary {
  padding-bottom: 20px;

  .sidebar-brand-name {
    padding: 0.875rem 1.25rem 0.875rem 0.875rem;
    font-size: 1.5rem;
  }

  .sidebar-heading {
    padding: 0.875rem 1rem 0.5rem;
    font-weight: 800;
    font-size: .65rem;
    text-transform: uppercase;
  }

  .list-group {
    width: 14rem;
    list-style: none;
  }

  hr.sidebar-divider {
    margin: 0.5rem 1rem;
  }

  .nav-item {
    // Collapsing Animation
    .collapse:not(.show) {
      display: none;
    }

    .collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: height 0.15s ease;
    }

    @media (prefers-reduced-motion: reduce) {
      .collapsing {
        transition: none;
      }
    }

    .collapse,
    .collapsing {
      margin: 0.5rem 1rem 0 1rem;

      .collapse-inner {
        padding: .5rem 0;
        min-width: 10rem;
        font-size: .85rem;
        margin: 0 0 1rem 0;

        .collapse-header {
          margin: 0;
          white-space: nowrap;
          padding: .5rem 1.5rem;
          text-transform: uppercase;
          font-weight: 800;
          font-size: .65rem;
          color: #b7b9cc;
        }

        .collapse-item {
          padding: .5rem 1rem;
          margin: 0 .5rem;
          display: block;
          color: #3a3b45;
          text-decoration: none;
          border-radius: .35rem;
          white-space: nowrap;

          &:hover {
            background-color: #eaecf4;
          }
        }
      }
    }

    .nav-link {
      position: relative;
      display: table;
      width: 100%;
      padding: 0.75rem 0.825rem;

      i {
        margin-right: .55rem;
      }

      span {
        font-size: .85rem;
        display: table-cell;
        vertical-align: middle;
      }

      .collapse-arrow {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
      }

      &[data-toggle=collapse] .collapse-arrow::after {
        border: 0;
        font-weight: 900;
        content: 'expand_more';
        font-family: 'Material Icons';
      }

      &[data-toggle=collapse].collapsed .collapse-arrow::after {
        // content: '\f105';
        content: 'chevron_right';
      }
    }
  }
}

// Secondary Sidebar Color Setting
#sidebar-secondary.sidebar-light {
  background-color: #f5f6f7;
  color: rgb(66, 82, 110);
  border-right: 1px solid #dfdfdf;

  .sidebar-heading {
    color: rgba(66, 82, 110, .8);
  }

  hr.sidebar-divider {
    border-top: 1px solid rgba(66, 82, 110, .3);
  }

  .nav-item {
    .nav-link {
      color: rgba(66, 82, 110, .8);

      i {
        color: rgba(66, 82, 110, .3);
      }

      &.active,
      &:active,
      &:focus,
      &:hover {
        color: #172B4D;

        i {
          color: #172B4D;
        }
      }
    }
  }
}

#sidebar-secondary.sidebar-dark {
  background-color: #0747a6;

  .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
  }

  hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
  }

  .nav-item {
    .nav-link {
      color: #ffffff87;

      i {
        color: rgba(255, 255, 255, .3);
      }

      &.active,
      &:active,
      &:focus,
      &:hover {
        color: #ffffff;

        i {
          color: #ffffff;
        }
      }
    }
  }
}

#wrapper.toggled {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled {
    #sidebar-wrapper {
      margin-left: -18rem;
    }
  }
}
