---
title: Select Client | Jupiter
layout: admin
---
<section>
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <h4>
          <i class="material-icons">folder_shared</i><span>Client Name (CODE)</span>
          <i class="material-icons pl-2">keyboard_arrow_right</i>
          <span class="text-black-50">Select Client</span>
        </h4>
      </div>
    </div>

    <div class="row no-gutters mx-n1 select-client">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-1">
        <div class="card border-0 rounded-0 shadow-sm h-100">
          <div class="card-body">
            <div class="settings-icons">
              <a href="#" class="text-secondary stretched-link">
                <i class="material-icons">tune</i>
              </a>
            </div>
            <div class="selection-block">
              <div class="client-logo">
                <img class="img-fluid" src="/images/sample/logos/sample_logo_1.png"/>
              </div>
              <h5 class="card-title">
                <a href="#" class="text-reset stretched-link">Client Name (CODE)</a>
              </h5>
              <h6 class="card-subtitle mb-0 text-muted">John Cena</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-1">
        <div class="card border-0 rounded-0 shadow-sm h-100">
          <div class="card-body">
            <div class="settings-icons">
              <a href="#" class="text-secondary stretched-link">
                <i class="material-icons">tune</i>
              </a>
            </div>
            <div class="selection-block">
              <div class="client-logo">
                <img class="img-fluid" src="/images/sample/logos/sample_logo_2.png" style="height:100px;"/>
              </div>
              <h5 class="card-title">
                <a href="#" class="text-reset stretched-link">Client Name (CODE)</a>
              </h5>
              <h6 class="card-subtitle mb-0 text-muted">John Cena</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-1">
        <div class="card border-0 rounded-0 shadow-sm h-100">
          <div class="card-body">
            <div class="settings-icons">
              <a href="#" class="text-secondary stretched-link position-relative">
                <i class="material-icons">tune</i>
              </a>
            </div>
            <div class="selection-block">
              <div class="client-logo">
                <img class="img-fluid" src="/images/sample/logos/sample_logo_3.png" style="height:100px;"/>
              </div>
              <h5 class="card-title">
                <a href="#" class="text-reset stretched-link">Client Name (CODE)</a>
              </h5>
              <h6 class="card-subtitle text-muted mb-0">Person in Charge Name</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-1">
        <div class="card border-0 rounded-0 shadow-sm h-100">
          <div class="card-body">
            <div class="settings-icons">
              <a href="#" class="text-secondary stretched-link position-relative">
                <i class="material-icons">tune</i>
              </a>
            </div>
            <div class="selection-block">
              <div class="client-logo">
                <img class="img-fluid" src="/images/sample/logos/sample_logo_4.png" style="height:100px;"/>
              </div>
              <h5 class="card-title">
                <a href="#" class="text-reset stretched-link">Client Name (CODE)</a>
              </h5>
              <h6 class="card-subtitle text-muted mb-0">Person in Charge Name</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Recent Events</h4>

    <div class="row no-gutters mx-n1 recent-events">
      <div class="col-12 col-md-4 col-lg-3 col-xl-2 p-1">
        <div class="card border-0 rounded-0 shadow-sm p-3 h-100" style="background-image: linear-gradient(rgb(232, 234, 236) 33%, transparent 33%);">
          <div class="code-badge text-white-50 bg-primary rounded">
            EVN
          </div>
          <h6 class="card-title mt-2 d-inline-block text-muted text-truncate">
            <strong><a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="text-reset stretched-link">Event name and title</a></strong>
          </h6>
          <p class="card-subtitle small mb-0 text-muted">Person in Charge Name</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 col-xl-2 p-1">
        <div class="card border-0 rounded-0 shadow-sm p-3 h-100" style="background-image: linear-gradient(rgb(232, 234, 236) 33%, transparent 33%);">
          <div class="code-badge text-white-50 bg-secondary rounded">
            ABC
          </div>
          <h6 class="card-title mt-2 d-inline-block text-muted text-truncate">
            <strong><a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="text-reset stretched-link">Event name and title</a></strong>
          </h6>
          <p class="card-subtitle small mb-0 text-muted">Person in Charge Name</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 col-xl-2 p-1">
        <div class="card border-0 rounded-0 shadow-sm p-3 h-100" style="background-image: linear-gradient(rgb(232, 234, 236) 33%, transparent 33%);">
          <div class="code-badge text-white-50 bg-warning rounded">
            DEF
          </div>
          <h6 class="card-title mt-2 d-inline-block text-muted text-truncate">
            <strong><a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="text-reset stretched-link">Event name and title</a></strong>
          </h6>
          <p class="card-subtitle small mb-0 text-muted">Person in Charge Name</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 col-xl-2 p-1">
        <div class="card border-0 rounded-0 shadow-sm p-3 h-100" style="background-image: linear-gradient(rgb(232, 234, 236) 33%, transparent 33%);">
          <div class="code-badge text-white-50 bg-success rounded">
            GHT
          </div>
          <h6 class="card-title mt-2 d-inline-block text-muted text-truncate">
            <strong><a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="text-reset stretched-link">Event name and title</a></strong>
          </h6>
          <p class="card-subtitle small mb-0 text-muted">Person in Charge Name</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 col-xl-2 p-1">
        <div class="card border-0 rounded-0 shadow-sm p-3 h-100" style="background-image: linear-gradient(rgb(232, 234, 236) 33%, transparent 33%);">
          <div class="code-badge text-white-50 bg-primary rounded">
            IJK
          </div>
          <h6 class="card-title mt-2 d-inline-block text-muted text-truncate">
            <strong><a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="text-reset stretched-link">Event name and title</a></strong>
          </h6>
          <p class="card-subtitle small mb-0 text-muted">Person in Charge Name</p>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 col-xl-2 p-1">
        <div class="card border-0 rounded-0 shadow-sm p-3 h-100" style="background-image: linear-gradient(rgb(232, 234, 236) 33%, transparent 33%);">
          <div class="code-badge text-white-50 bg-danger rounded">
            LMN
          </div>
          <h6 class="card-title mt-2 d-inline-block text-muted text-truncate">
            <strong><a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="text-reset stretched-link">Event name and title</a></strong>
          </h6>
          <p class="card-subtitle small mb-0 text-muted">Person in Charge Name</p>
        </div>
      </div>
    </div>
  </div>
</section>
