---
title: Guest Import
layout: dashboard
---
<section id="dashboard">
  <div class="container">
    <!-- Page Heading -->
    <div class="row">
      <div class="col-12 col-xl-6">
        <h4>
          <i class="material-icons">import_export</i><span><%= current_page.data.title %></span>
          <i class="material-icons pl-2">keyboard_arrow_right</i>
          <span class="small text-black-50">Home</span>
        </h4>
      </div>
      <div class="col-12 col-xl-6 text-right">
        <a href="#" class="btn btn-sm btn-primary shadow-sm d-none d-lg-inline-block mr-md-1 mb-1">
          <i class="material-icons text-white-50">add</i><span>Add Customer</span>
        </a>
        <a href="#" class="btn btn-sm btn-primary shadow-sm d-none d-lg-inline-block mr-md-1 mb-1">
          <i class="material-icons text-white-50">get_app</i><span>Generate Report</span>
        </a>
      </div>
    </div>

    <hr>

  </div>
</section>
