body {
  // background-color: #f8f9fc;
  background-color: #ffffff;
  color: #333333;
  font-family: $zh-default-font;
  overflow-x: hidden;
}

// a {
//   color: rgba(#000, 0.7);
//
//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Nunito", Arial, sans-serif;
  letter-spacing: 0.5px;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

#wrapper {
  display: flex;

  #content-wrapper {
    width: 100%;
    min-width: 100vw;
    overflow-x: hidden;

    #content {
      flex: 1 0 auto;
    }
  }
}

@media (min-width: 992px) {
  #wrapper {
  	#content-wrapper {
  		min-width: 0;
  		width: 100%;
  	}
  }
}
