#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -18rem;
  color: #ffffff;
  background-color: #0747a6;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  a {
    .sidebar-brand-icon {
      padding: 0.875rem;

      img {
        width: 50px;

        &:active,
        &:focus,
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 50%;
        }
      }
    }
  }

  .list-group {
    width: 4rem;
  }

  hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin: 0 1rem;
  }

  .nav-item {
    .nav-link {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      color: #ffffff;

      i {
        color: rgba(255, 255, 255, .3);
      }

      &:active,
      &:focus,
      &:hover {
        color: #ffffff;

        i {
          color: #ffffff;
        }
      }
    }
  }
}

#sidebar-secondary {
  padding-bottom: 20px;

  .sidebar-brand-name {
    padding: 0.875rem 1.25rem 0.875rem 0.875rem;
    font-size: 1.5rem;
  }

  .sidebar-heading {
    padding: 0.875rem 1.25rem 0.5rem;
    font-weight: 800;
    font-size: .65rem;
    color: rgba(255, 255, 255, .4);
  }

  .list-group {
    width: 14rem;
    list-style: none;
  }

  hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin: 0.5rem 1rem;
  }

  .nav-item {
    .collapsing {
      display: none;
      transition: none;
    }

    .collapse,
    .collapsing {
      margin: 0.5rem 1rem 0 1rem;

      .collapse-inner {
        padding: .5rem 0;
        min-width: 10rem;
        font-size: .85rem;
        margin: 0 0 1rem 0;

        .collapse-header {
          margin: 0;
          white-space: nowrap;
          padding: .5rem 1.5rem;
          text-transform: uppercase;
          font-weight: 800;
          font-size: .65rem;
          color: #b7b9cc;
        }

        .collapse-item {
          padding: .5rem 1rem;
          margin: 0 .5rem;
          display: block;
          color: #3a3b45;
          text-decoration: none;
          border-radius: .35rem;
          white-space: nowrap;

          &:hover {
            background-color: #eaecf4;
          }
        }
      }
    }

    .nav-link {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem  0.75rem  0.75rem;
      color: rgba(255, 255, 255, .8);

      i {
        margin-right: .55rem;
        color: rgba(255, 255, 255, .3);
      }

      span {
        font-size: .85rem;
        display: inline;
      }

      &:active,
      &:focus,
      &:hover {
        color: #ffffff;

        i {
          color: #ffffff;
        }
      }

      &[data-toggle=collapse]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f107';
        font-family: 'Font Awesome 5 Free'
      }

      &[data-toggle=collapse].collapsed::after {
        content: '\f105'
      }
    }
  }
}

#wrapper.toggled {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled {
    #sidebar-wrapper {
      margin-left: -18rem;
    }
  }
}
