#LoginHome {
  background-color: #0747a6;

  .alert.logout,
  .alert.reset-pwd {
    text-align: left;
  }

  .bg-login-image {
    background: url("../../../assets/images/login/jupiter-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .bg-register-image {
    background: url("../../../assets/images/login/jupiter-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .bg-password-image {
    background: url("../../../assets/images/login/password-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .bg-authentication-image {
    background: url("../../../assets/images/login/authentication-bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .pincode {
    color: #cccccc;
    letter-spacing: 10px;
  }
}
