---
title: Login | Jupiter
layout: login
---

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-xl-10">
        <div class="card overflow-hidden border-0 shadow-lg mt-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6 p-5">
                <div class="text-center">
                  <img src="/images/logo/color_logo.png" alt="Brand Logo" class="imgs-fluid" style="max-width: 180px"><br/>
                  <p class="text-black-50 mb-3"><small>Too big to think</small></p>

                  <h5 class="text-secondary mb-4"><i class="material-icons md-36 text-danger">replay</i> Reset Password</h5>
                </div>

                <p>Fill in your email address and we will send you a reset password email instruction.</p>

                <div class="alert alert-success reset-pwd alert-dismissible fade show" role="alert">
                  Please check your email and follow the email instruction
                  to reset the your password, or <a href="login.html" class="alert-link">click here</a> back to login page.
                  <button type="button" class="close" onclick="$('.alert').slideUp()" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                  </button>
                </div>

                <form class="user">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="Username" tabindex="1" placeholder="Email Address" autofocus>
                  </div>
                  <a href="#" onclick="$('.alert').slideDown('medium')" class="btn btn-primary btn-block">
                    Send Email
                  </a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag "/js/admin/page/login" %>
