---
title: Login | Jupiter
layout: login
---

<section id="Login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-xl-10">
        <div class="card overflow-hidden border-0 shadow-lg mt-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-authentication-image"></div>
              <div class="col-lg-6 p-5">
                <div class="text-center">
                  <img src="/assets/images/logo/color_logo.png" alt="Brand Logo" class="imgs-fluid" style="max-width: 180px"><br/>
                  <p class="text-black-50 mb-3"><small>Too big to think</small></p>

                  <h5 class="text-secondary mb-4"><i class="material-icons md-36 text-warning animated bounceOutUp slow delay-1s">email</i> Two Step Verification</h5>
                </div>

                <div class="alert alert-warning reset-2fa" role="alert">
                  The 2FA reset link has been sent to your email and follow email instruction to reset 2FA.
                </div>

                <form class="user">
                  <a href="login.html" class="btn btn-primary btn-block">
                    Back to login page
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag "/js/admin/page/login" %>
