---
title: Add Event | Jupiter
layout: admin
---

<section id="Admin">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 col-xl-6">
        <h4>
          <i class="material-icons">folder_shared</i><span>Client Name (CODE)</span>
          <i class="material-icons pl-2">keyboard_arrow_right</i>
          <span class="small text-black-50">Add Event</span>
        </h4>
      </div>
      <div class="col-12 col-xl-6 text-right">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <div class="connecting-line"></div>
        <ul id="createEventTabs" class="nav nav-tabs" role="tablist">
          <li class="tab">
            <a class="tab-link active" href="#step1" id="step1-tab" data-toggle="tab" role="tab" aria-controls="step1" aria-selected="true">
              <div class="round-tab"><i class="material-icons">event_note</i></div>
            </a>
          </li>
          <li class="tab">
            <a class="tab-link" href="#step2" id="step2-tab" data-toggle="tab" role="tab" aria-controls="step2" aria-selected="false">
              <div class="round-tab"><i class="material-icons">mail</i></div>
            </a>
          </li>
          <li class="tab">
            <a class="tab-link" href="#step3" id="step3-tab" data-toggle="tab" role="tab" aria-controls="step3" aria-selected="false">
              <div class="round-tab"><i class="material-icons">flag</i></div>
            </a>
          </li>
          <li class="tab">
            <a class="tab-link" href="#step4" id="step4-tab" data-toggle="tab" role="tab" aria-controls="step4" aria-selected="false">
              <div class="round-tab"><i class="material-icons">done</i></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Add Event Info -->
    <div class="row">
      <div class="col-12">
        <form class="reg-event mb-5" action="#" method="post">
          <div id="createEventTabsContent" class="tab-content">
            <div id="step1" class="tab-pane show active" role="tabpanel" aria-labelledby="step1-tab">
              <div class="row mb-3">
                <div class="col-6 text-left">
                </div>
                <div class="col-6 text-right">
                  <a href="#" class="next-tab btn btn-primary">
                    <span>Continue</span><i class="material-icons text-white-50 pr-0 pl-2">keyboard_arrow_right</i>
                  </a>
                </div>
              </div>

              <div class="row">
                <!-- First Column -->
                <div class="col-xl-6 border-xl-right-none border-right">
                  <h5 class="form-title">
                    <i class="material-icons text-black-50">double_arrow</i>
                    <span>Event Info</span>
                  </h5>

                  <div class="form-group row required">
                    <label for="EventName" class="col-xl-4 col-form-label">Event Name:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="EventName" autofocus/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="ClientName" class="col-xl-4 col-form-label">Person in Charge:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ClientName" aria-describedby="FieldNameHelp"/>
                      <small id="FieldNameHelp" class="form-text text-muted">
                        Admin Use Only
                      </small>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="ClientCode" class="col-xl-4 col-form-label">Client Code:</label>
                    <div class="col-xl-4">
                      <input type="text" class="form-control" id="ClientCode" value="ab" aria-describedby="SMSFromName"/>
                      <small id="SMSFromName" class="form-text text-muted">
                        Small capital letter
                      </small>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="CodeName" class="col-xl-4 col-form-label">Event Code:</label>
                    <div class="col-xl-4">
                      <input type="text" class="form-control" id="CodeName" value="cde" aria-describedby="SMSFromName"/>
                      <small id="SMSFromName" class="form-text text-muted">
                        Small capital letter
                      </small>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="SubjectType" class="col-xl-4 col-form-label">Job Type:</label>
                    <div class="col-xl-4">
                      <select class="form-control" name="SubjectType" id="SubjectType">
                        <option value="0" selected disabled>Choose...</option>
                        <option value="1">Promotion</option>
                        <option value="2">Event</option>
                        <option value="3">Product Launch</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="EventStatus" class="col-xl-4 col-form-label">Event Status:</label>
                    <div class="col-xl-4">
                      <select class="form-control" id="EventStatus">
                        <option value="0" selected disabled>Choose...</option>
                        <option value="1">Open</option>
                        <option value="2">Closed</option>
                        <option value="3">Testing</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- Second Column -->
                <div class="col-xl-6">
                  <h5 class="form-title mt-3 mt-xl-0">
                    <i class="material-icons text-black-50">double_arrow</i>
                    <span>Public Info</span>
                  </h5>

                  <div class="form-group row required">
                    <label for="StartDate" class="col-xl-4 col-form-label">Start Date:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="StartDate"/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="EndDate" class="col-xl-4 col-form-label">End Date:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="EndDate"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="Time" class="col-xl-4 col-form-label">Time:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="Time" placeholder="H:MM am/pm - H:MM am/pm"/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="Venue" class="col-xl-4 col-form-label">Venue:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="Venue"/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="SiteLink" class="col-xl-4 col-form-label">Site Link:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="SiteLink"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ContactName" class="col-xl-4 col-form-label">Contact Name:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ContactName"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ContactEmail" class="col-xl-4 col-form-label">Contact Email:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ContactEmail"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ContactTel" class="col-xl-4 col-form-label">Contact Tel:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ContactTel"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ContactFax" class="col-xl-4 col-form-label">Contact Fax:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ContactFax"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ContactSignURL" class="col-xl-4 col-form-label">Contact Signature URL:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ContactSignURL"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="step2" class="tab-pane" role="tabpanel" aria-labelledby="step2-tab">
              <div class="row mb-3">
                <div class="col-6 text-left">
                  <a href="#" class="previous-tab btn btn-danger">
                    <i class="material-icons text-white-50">keyboard_arrow_left</i><span>Back</span>
                  </a>
                </div>
                <div class="col-6 text-right">
                  <a href="#" class="next-tab btn btn-primary">
                    <span>Continue</span><i class="material-icons text-white-50 pr-0 pl-2">keyboard_arrow_right</i>
                  </a>
                </div>
              </div>

              <div class="row">
                <!-- First Column -->
                <div class="col-xl-6 border-xl-right-none border-right">
                  <h5 class="form-title">
                    <i class="material-icons text-black-50">double_arrow</i>
                    <span>Registration Settings</span>
                  </h5>

                  <div class="form-group row">
                    <label for="AddToEventRsvpStatus" class="col-xl-4 col-form-label">Default Group:</label>
                    <div class="col-xl-8">
                      <select id="AddToEventRsvpStatus" class="form-control">
                        <option value="0" disabled>Choose...</option>
                        <option value="1">Approved</option>
                        <option value="2">Declined</option>
                        <option value="3">Not Responded</option>
                        <option value="4">Review</option>
                        <option value="5">Rejected</option>
                        <option value="6" selected>Pending</option>
                        <option value="7">Test</option>
                      </select>
                      <small id="nameHelper" class="text-black-50">When adding customers to event.</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="IsAutoApproved" class="col-xl-4 col-form-label">Auto Approved:</label>
                    <div class="col-xl-8">
                      <div class="form-control-plaintext custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="IsAutoApproved" aria-describedby="IsAutoApprovedHelp"/>
                        <label class="custom-control-label" for="IsAutoApproved">
                          <small id="IsAutoApprovedHelp" class="form-text text-muted">
                            <p>Registrant will be automatically approved once registrant registers online or RSVP email.</p>
                            <p class="mb-0">If NOT, RSVP group will be send to "Review" and acknowledgement email will nees to manually send by the Administrator.</p>
                          </small>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="IsRsvpOn" class="col-xl-4 col-form-label">Auto Update RSVP:</label>
                    <div class="col-xl-8">
                      <div class="form-control-plaintext custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="IsRsvpOn" aria-describedby="IsRsvpOnHelp" checked/>
                        <label class="custom-control-label" for="IsRsvpOn">
                          <small id="IsRsvpOnHelp" class="form-text text-muted">
                            Registrant can update his/her group from the RSVP Email invite.
                          </small>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="qrcodeFormat" class="col-xl-4 col-form-label">QRCode Format:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control text-monospace" id="qrcodeFormat" value="[GUSTID].[REGID]"/>
                    </div>
                  </div>

                  <hr>

                  <h5 class="form-title">
                    <i class="material-icons text-black-50">double_arrow</i>
                    <span>Notification Settings</span>
                  </h5>

                  <div class="form-group row">
                    <label for="IsNotifyOn" class="col-xl-4 col-form-label">Email Notification:</label>
                    <div class="col-xl-8">
                      <div class="form-control-plaintext custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="IsNotifyOn" aria-describedby="IsNotifyOnHelp"/>
                        <label class="custom-control-label" for="IsNotifyOn">
                          <small id="IsNotifyOnHelp" class="form-text text-muted">
                            Notification email will send each time when registration or registrant update.
                          </small>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="NotifyEmail" class="col-xl-4 col-form-label">Notification Emails:</label>
                    <div class="col-xl-8">
                      <textarea class="form-control" id="NotifyEmail" rows="5">notification@emaildomain.com</textarea>
                      <small id="NotifyEmailHelper" class="form-text text-muted">
                        Separate emails by a comma.
                      </small>
                    </div>
                  </div>
                </div>

                <!-- Second Column -->
                <div class="col-xl-6">
                  <h5 class="form-title">
                    <i class="material-icons text-black-50">double_arrow</i>
                    <span>Email Settings</span>
                  </h5>

                  <div class="form-group row required">
                    <label for="FromEmail" class="col-xl-4 col-form-label">From Email:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="FromEmail" value="donotreply@emaildomain.com" aria-describedby="LinkHelp"/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="FromName" class="col-xl-4 col-form-label">From Name:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="FromName" value="Events Management" aria-describedby="FromNameHelp"/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="ReplyToEmail" class="col-xl-4 col-form-label">Reply-To Email:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ReplyToEmail" value="donotreply@emaildomain.com"/>
                    </div>
                  </div>

                  <div class="form-group row required">
                    <label for="ReplyToName" class="col-xl-4 col-form-label">Reply-To Name:</label>
                    <div class="col-xl-8">
                      <input type="text" class="form-control" id="ReplyToName" value="Events Management"/>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="FieldName" class="col-xl-4 col-form-label">Subscribers Groups:</label>
                    <div class="col-xl-8">
                      <div class="form-control-plaintext">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="Subscribe">
                          <label class="custom-control-label" for="Subscribe">Subscribed</label>
                        </div>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" class="custom-control-input" id="Unsubscribe">
                          <label class="custom-control-label" for="Unsubscribe">Unsubscribe</label>
                        </div>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" class="custom-control-input" id="eDMGroup1">
                          <label class="custom-control-label" for="eDMGroup1">
                            <input type="text" class="form-control form-control-sm" id="eDMGroupName1" placeholder="Custom Group"/>
                          </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" class="custom-control-input" id="eDMGroup2">
                          <label class="custom-control-label" for="eDMGroup2">
                            <input type="text" class="form-control form-control-sm" id="eDMGroupName2" placeholder="Custom Group"/>
                          </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" class="custom-control-input" id="eDMGroup3">
                          <label class="custom-control-label" for="eDMGroup3">
                            <input type="text" class="form-control form-control-sm" id="eDMGroupName3" placeholder="Custom Group"/>
                          </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" class="custom-control-input" id="eDMGroup4">
                          <label class="custom-control-label" for="eDMGroup4">
                            <input type="text" class="form-control form-control-sm" id="eDMGroupName4" placeholder="Custom Group"/>
                          </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" class="custom-control-input" id="eDMGroup5">
                          <label class="custom-control-label" for="eDMGroup5">
                            <input type="text" class="form-control form-control-sm" id="eDMGroupName5" placeholder="Custom Group"/>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="step3" class="tab-pane" role="tabpanel" aria-labelledby="step3-tab">
              <div class="row mb-3">
                <div class="col-6 text-left">
                  <a href="#" class="previous-tab btn btn-danger">
                    <i class="material-icons text-white-50">keyboard_arrow_left</i><span>Back</span>
                  </a>
                </div>
                <div class="col-6 text-right">
                  <a href="#" class="next-tab btn btn-success">
                    <span>Save and Create</span><i class="material-icons text-white-50 pr-0 pl-2">keyboard_arrow_right</i>
                  </a>
                </div>
              </div>

              <div class="row">
                <!-- First Column -->
                <div class="col-xl-6 border-xl-right-none border-right">
                  <h5 class="form-title">
                    <i class="material-icons text-black-50">double_arrow</i>
                    <span>Reports Settings</span>
                  </h5>

                  <div class="form-group row required">
                    <label for="ReportEmails" class="col-xl-4 col-form-label">Send Report To:</label>
                    <div class="col-xl-8">
                      <textarea class="form-control text-monospace" id="ReportEmails" rows="5">support@emaildomain.com</textarea>
                      <small id="ReportEmailsHelper" class="form-text text-muted">
                        Separate emails by a comma.
                      </small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="AttachCSV" class="col-xl-4 col-form-label">Attach CSV Report:</label>
                    <div class="col-xl-8">
                      <div class="form-control-plaintext custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="AttachCSV" aria-describedby="AttachCSVHelp" checked/>
                        <label class="custom-control-label" for="AttachCSV">
                          <small id="AttachCSVHelp" class="form-text text-muted">
                            If swicthed ON, all the Registrant info will be written to a CSV file and attached to the email.
                          </small>
                        </label>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row">
                    <label for="selectAll" class="col-xl-4 col-form-label">Include Group:</label>
                    <div class="col-xl-8">
                      <div class="form-control-plaintext">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="selectAll" value="selectAll">
                          <label class="custom-control-label" for="selectAll"> Select / Deselect All</label>
                        </div>
                        <hr class="my-2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="Approved" value="1" checked>
                          <label class="custom-control-label" for="Approved">Approved</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="Declined" value="2" checked>
                          <label class="custom-control-label" for="Declined">Declined</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="NotResponded" value="3"checked>
                          <label class="custom-control-label" for="NotResponded">Not Responded</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="Review" value="4" checked>
                          <label class="custom-control-label" for="Review">Review</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="Rejected" value="5" checked>
                          <label class="custom-control-label" for="Rejected">Rejected</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="Pending" value="6">
                          <label class="custom-control-label" for="Pending">Pending</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="GroupReports" id="Test" value="7">
                          <label class="custom-control-label" for="Test">Test</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Second Column -->
                <div class="col-xl-6">
                </div>
              </div>
            </div>

            <div id="step4" class="tab-pane" role="tabpanel" aria-labelledby="step4-tab">
              <div class="row mb-3">
                <div class="col-6 text-left">
                </div>
                <div class="col-6 text-right">
                  <a href="/events/clientcode/2020/eventcode/admin/dashboard.html" class="btn btn-primary">
                    <span>Go to Admin Dashboard</span><i class="material-icons text-white-50 pr-0 pl-2">keyboard_arrow_right</i>
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <h3>Complete</h3>
                  <p>You have successfully created following campaign.</p>

                  <h5 class="font-weight-bold">Demo Event Festival and Food Fair 2020</h5>
                  <p>Jump to Event App:</p>

                  <a href="#" class="btn btn-primary mr-md-1 mb-1">
                    <i class="material-icons text-white-50">home</i><span>Home Page</span>
                  </a>

                  <a href="#" class="btn btn-primary mr-md-1 mb-1">
                    <i class="material-icons text-white-50">how_to_reg</i><span>Registration</span>
                  </a>

                  <a href="#" class="btn btn-primary mr-md-1 mb-1">
                    <i class="material-icons text-white-50">exit_to_app</i><span>Guest Login</span>
                  </a>

                  <a href="#" class="btn btn-primary mr-md-1 mb-1">
                    <i class="material-icons text-white-50">supervisor_account</i><span>Exhibitor Admin</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag "/assets/js/admin/page/event" %>
