---
title: Calendar | Jupiter
layout: admin
---

<section id="Admin">
  <div class="container">
    <!-- Event List DataTales -->
    <div class="row mb-3">
      <div class="col-12 col-xl-6">
        <h4>
          <i class="material-icons">folder_shared</i><span>Client Name (CODE)</span>
          <i class="material-icons pl-2">keyboard_arrow_right</i>
          <span class="small text-black-50">Calendar</span>
        </h4>
      </div>
      <div class="col-12 col-xl-6 text-right">
        <a href="../events/new.html" class="btn btn-primary shadow-sm mr-lg-1 mb-1">
          <i class="fas fa-plus fa-fw text-white-50"></i> Add Event
        </a>
      </div>
    </div>

    <div id="calendar" class="mb-5"></div>

  </div>
</section>

<%= javascript_include_tag "/js/admin/page/calendar" %>
