---
title: Welcome to Middleman
---

<div class="row">
  <div class="col-12">
    <!-- Sidebar - Event Code -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
      <h4 class="sidebar-eventcode-text text-uppercase mb-0">
        <div class="bg-white rounded text-secondary py-1 px-2">
          <!-- Status Online -->
          <i class="fas fa-fw text-success fa-check-circle"></i> dem
          <!-- Testing Mode -->
          <!-- <i class="far fa-fw text-warning fa-pause-circle"></i> dem -->
          <!-- Status Offline -->
          <!-- <i class="fas fa-fw text-danger fa-times-circle"></i> dem -->
        </div>
      </h4>
    </a>
    <h1>Simple Sidebar</h1>
    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
  </div>
</div>
